<div class="content" ng-controller="rest">
	<input class="btn btn-primary" id="" type="button" value="GET"  ng-click="getTest()" />
	<input class="btn btn-primary" id="" type="button"  value="POST" ng-click="postTest()"  />
	<input class="btn btn-primary" id="" type="button" value="PUT"  ng-click="putTest()"  />
	<input class="btn btn-primary" id="" type="button"  value="DELETE" ng-click="deleteTest()"  />
	{{data}}
	<br />
	<input class="btn btn-primary" id="" type="button" value="index"  ng-click="getindex()" />
	<input class="btn btn-primary" id="" type="button"  value="create" ng-click="getcreate()"  />
	<input class="btn btn-primary" id="" type="button" value="save"  ng-click="postsave()"  />
	<input class="btn btn-primary" id="" type="button"  value="show" ng-click="getshow()"  />
	<input class="btn btn-primary" id="" type="button"  value="edit" ng-click="getedit()"  />
	<input class="btn btn-primary" id="" type="button" value="update"  ng-click="putupdate()"  />
	<input class="btn btn-primary" id="" type="button"  value="delete" ng-click="delete()"  />
	<input class="btn btn-primary" id="" type="button" value="atoken"  ng-click="atoken()"  />
	<input class="btn btn-primary" id="" type="button" value="setHeader"  ng-click="setHeader()"  />
	<button class="btn btn-primary" ng-click="ceshi()"><span class="glyphicon glyphicon-plus"></span>&nbsp;get-ceshi</button>
	<button class="btn btn-primary" ng-click="ceshipost()"><span class="glyphicon glyphicon-plus"></span>&nbsp;post-ceshi</button>
	<input class="btn btn-primary" id="" type="button" value="put-ceshi"  ng-click="ceshiput()"  />
	<input class="btn btn-primary" id="" type="button" value="del-ceshi"  ng-click="ceshidelete()"  />
</div>