<div class="content" ng-controller="test">
	<input class="btn btn-primary" id="" type="button"  value="contraller" ng-click="ceshi()"  />
	<input class="btn btn-primary" id="" type="button" value="update"  ng-click="putupdate()"  />
	<input class="btn btn-primary" id="" type="button"  value="delete" ng-click="delete()"  />
	<input class="btn btn-primary" id="" type="button"  value="获取二维码" ng-click="madio()"  />
	<img  ng-src="{{madioImg}}" class="picNo" style="width:220px;height:220px;">
</div>
